.sidebar {
  width: 20%;
  display: block;
  padding: 20px 10px 20px 20px;
  float: left;
}

.sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 15px;
  overflow: hidden;
  color: #424242;
}

.sidebar li a{
  display: block;
  text-decoration: none;
  color: #424242;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 15px;
}

.sidebar li a:hover {
  background-color: #f5f5f5;
}

.sidebar li a:active {
  background-color: #f44336;
  color: #fff;
}

.sidebar .active {
  background-color: #f44336;
  color: #fff;
}

.sidebar .active:hover {
  background-color: #f44336;
  color: #fff;
}

.sidebar .head {
  font-weight: 600;
  padding-left: 4px;
  padding-bottom: 5px;
  padding-top: 20px;
  font-size: 15px;
  text-transform: uppercase;
}

.main-content {
  width: 74%;
  display: block;
  float: right;
  padding: 20px 30px 20px 10px;
}

.main-content .title {
  display: block;
  color: #424242;
  font-weight: 600;
  background-color: #f5f5f5;
  padding: 16px 18px 16px 18px;
  font-size: 20px;
}

.content-body {
  padding: 0px 10px 10px 10px;
}