* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #424242;
}

.wrapper {
  background-color: white;
  margin: 40px auto;
  width: 90%;
  max-width: 1250px;
  border-color: rgba(255,255,255,0.5);
  overflow: hidden;
}

.content {
  background: #fff;
}

.content .main-header {
  background: #212121;
  height: 100px;
}

.content .main-header h1 {
  color: #fff;
  margin: 0px;
  padding: 30px;
}

.badge {
  color: #fff;
  padding: 2px 4px;
  border-radius: 2px;
}

.cards {
  padding: 15px;
  padding-bottom: 30px;
  padding-top: 30px;
  text-align: center;
}

.card {
  display: inline-block;
  padding: 15px;
  width: 16%;
  border: 1px solid #f44336;
  border-radius: 2px;
  background-color: #fff;
}

.card-head {
  font-size: 17px;
}

.card ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.card li {
  padding: 5px;
  text-align: left;
  font-style: italic;
  font-size: 15px;
}

.card li:before {
  content: "-";
  padding-right: 2px;
  padding-bottom: 1px;
  color: #424242;
}

.gallery {
  overflow: auto;
  margin: 30px;
  text-align: center;
}

.image-box {
  display: inline-block;
  padding: 15px;
  width: 29%;
  border: 1px solid #f44336;
  border-radius: 2px;
  background-color: #fff;
  overflow: hidden;
  margin: 5px;
  margin-bottom: 10px;
}

.image-box img {
  margin: 0;
  margin-right: 0px;
  width: 100%;
  max-width: 100%;
  height: 200px;
  max-height: 200px;
  border: 1px solid #777;
  display: block;
}

.accepted  {
  border: 2px solid #64dd17 !important;
}

.mid {
  text-align: center;
  overflow: hidden;
}

.map-title {
  font-weight: 600;
  font-size: 17px;
}

.map-details {
  font-weight: 600;
}