body {
  font-size: 15px;
  height: 100%;
  color: #444;
  line-height: 1.6em;
}
a:active, a:focus {
  outline: none;
}
h1, h2, h3, h4, h5 {
  line-height: 1.2em;
}

.banner {
	position: relative;
	height: 300px;
	background-color: #000;
}

.banner .lead {
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  min-width: 200px;
}
.banner .lead h1 {
  font-size: 3em;
  font-weight: bolder;
  margin-bottom: 0;
}
.banner .lead h2 {
  font-size: 1em;
  font-weight: lighter;
  margin: 0;
  padding: 0;
}
.banner .lead .lead-social {
  font-size: 1.7em;
}
.banner .lead .lead-social a {
  text-decoration: none !important;
  color: #fff;
  margin-right: 15px;
  opacity: 0.7;
}
.banner .lead .lead-social a:hover {
  color: #fff;
  opacity: 0.9;
}

.container {
  max-width: 650px;
  margin: 0 auto;
  padding: 0 15px 50px;
}