body {
  font-size: 15px;
  height: 100%;
  color: #444;
  line-height: 1.6em;
  cursor: default;
  animation: xmas_blink 1s step-start infinite alternate;
  background-image: url("bg.png");
  background-size: cover;
  background-color:#eeeeee;
}

::selection {
  color: #fff;
  animation: background_blink 1s step-start infinite alternate;
}

a:active, a:focus {
  outline: none;
}
a:hover {
  background-color: #555;
  cursor: default;
  animation: xmas_blink 1s step-start infinite alternate;
}
h1, h2, h3, h4, h5 {
  line-height: 1.2em;
  animation: xmas_blink 1s step-start infinite alternate;
  text-shadow: 0 0 4px #212121;
}

.banner {
	position: relative;
	height: 350px;
}

.banner .lead {
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  min-width: 200px;
  border: 2px solid #000;
  border-radius: 8px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #eee;
  animation: border_blink 1s step-start infinite alternate;
}
.banner .lead h1 {
  font-size: 3em;
  font-weight: bolder;
  margin-bottom: 0;
}
.banner .lead h2 {
  font-size: 1em;
  font-weight: lighter;
  margin: 0;
  padding: 0;
}
.banner .lead .lead-social {
  font-size: 1.7em;
}
.banner .lead .lead-social a {
  text-decoration: none !important;
  margin-right: 15px;
  opacity: 0.7;
  background-color: #eee !important;
  animation: xmas_blink 1s step-start infinite alternate;
}
.banner .lead .lead-social a:hover {
  color: #fff;
  opacity: 1.2;
}

.container {
  max-width: 650px;
  margin: 0 auto;
  padding: 0 15px 50px;
}
.container h1,
.container h2,
.container h3
.container h4
.container h5 {
  color: #555;
  margin-top: 1em;
}

#name {
  animation: xmas_blink 1s step-start infinite alternate;
}

canvas {
  display:block;
  position: fixed;
  z-index: -1;
}

@keyframes xmas_blink {
  0% { color: #ff0000; }
  25% { color: #ff0000; }
  50% { color: #ff7878; }
  75% { color: #74d680; }
  100% { color: #378b29; }
}

@keyframes border_blink {
  0% { border-color: #ff0000; }
  25% { border-color: #ff0000; }
  50% { border-color: #ff7878; }
  75% { border-color: #74d680; }
  100% { border-color: #378b29; }
}

@keyframes background_blink {
  0% { background-color: #ff0000; }
  25% { background-color: #ff0000; }
  50% { background-color: #ff7878; }
  75% { background-color: #74d680; }
  100% { background-color: #378b29; }
}